:root {
    --primary-color: #f4f0ec;
    --secondary-color: #e3deda;
    --tertiary-color: #e7e4eb;
    --text-color: #0d1821;
    --container-max: 1440px;
    --container-big: 1400px;
    --container-small: 1000px;
    --container-min: 600px;
    --pd: 20px;
    --pd-sm: 15px;
}

body {
    background-color: var(--primary-color) !important;
}

header {
    background-color: var(--primary-color) !important;
}

.container {
    max-width: var(--container-max) !important;
    width: 100%;
}

.container-fluid {
    max-width: var(--container-big) !important;
    width: 100%;
    margin: 0 250px !important;
}

#main {
    background-color: var(--primary-color) !important;
}

.banner-carousel {
    height: 575px;
    padding: 0px !important;

}

.banner-carousel .hidden,
.banner-carousel .rounded-full {
    display: none !important;
}

.section-services {
    background-color: #ccbcb4 !important;
    padding: 10px 0px;
}

.section-container {
    max-width: var(--container-big);
    width: 100%;
}

.service-item {
    display: flex;

}