:root {
    --primary-color: #f4f0ec;
    --secondary-color: #e3deda;
    --tertiary-color: #e7e4eb;
    --text-color: #0d1821;
    --container-max: 1440px;
    --container-big: 1400px;
    --container-small: 1000px;
    --container-min: 600px;
    --pd: 20px;
    --pd-sm: 15px;
    --gutter: 20px;
}

body {
    background-color: var(--primary-color) !important;
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
    font-family: "Open Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6, span, p, a {
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
    font-family: "Open Sans", sans-serif !important;


}

a {
    text-decoration: none !important;
}

.site-logo {
    max-width: 190px;
}

.top-45 {
    top: 45% !important;
}

header {
    background-color: var(--primary-color) !important;
}

.container {
    max-width: var(--container-max) !important;
    width: 100%;
    padding: 0 !important;
}

.container-fluid {
    max-width: var(--container-big) !important;
    width: 100%;
    margin: 0 250px !important;
}

#main {
    background-color: var(--primary-color) !important;
}

.banner-carousel {
    height: 575px;
    padding: 0px !important;

}

.banner-carousel .hidden,
.banner-carousel .rounded-full {
    display: none !important;
}

.btn-border-outline {
    border: 1px solid var(--text-color) !important;
    color: var(--text-color) !important;
    padding: 15px 35px !important;
    text-align: center !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    border-radius: 4px !important;
    margin-top: 20px;
}

.menu-desktop span:first-of-type a {
    padding-left: 0px !important;
}

.section-attribute-size {
    padding-top: 60px;
}

.item_grid_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item_grid_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease-in-out;
}

.item.zoom-out:hover .item_grid_img img {
    transform: scale(1.05);

}

.item.zoom-out:hover .item_grid_img img {
    transform: scale(1.05);

}

.item.zoom-out .item_grid_title {
    line-height: 24px;
    font-size: 1.125rem;
    text-align: left;
    margin-top: 20px;
}

.item.zoom-out:hover .item_grid_title span i {
    margin-left: 10px;
    transition: .5s ease-in-out;
}

.category-carousel-item {
    min-width: 23% !important;
}

.category-carousel .zoom-out {
    width: 100% !important;
    height: 100% !important;
}

.category-carousel .zoom-out a {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    object-fit: cover;
}

.category-carousel .zoom-out img {
    transition: .5s ease-in-out;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    overflow: hidden;
}

.category-carousel .title-category {
    margin-right: 10px;
}

.category-carousel .zoom-out:hover img {
    transform: scale(1.05);
    transition: .5s ease-in-out;
}

.category-carousel .zoom-out:hover .title-category {
    margin-right: 20px;
    transition: .5s ease-in-out;
}

.category-carousel_title h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin: 20px 0px 0px;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
}

.category-carousel_subtitle {
    max-width: 550px;
    margin: auto;
    padding-bottom: 30px;
}

.category-carousel_subtitle {
    margin-top: 30px;
}

.category-carousel_subtitle span {
    text-align: center;
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 2.0625rem;
}







.slick-prev {
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    display: block;
    left: 0 !important;
    min-height: 24px;
    min-width: 24px;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 24px;
    z-index: 9999999;

}

.slick-next {
    background: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    display: block;
    right: 0 !important;
    min-height: 24px;
    min-width: 24px;
    padding: 0;
    position: absolute;
    top: 50%;
    width: 24px;
    z-index: 9999999;
}

.slick-prev:hover .slick-prev:before,
.slick-next:hover .slick-next:before {
    background: #0d1821;
    color: #fff;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 25px;
    line-height: 1;
    opacity: 1;
    color: gray;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.section-comment .container-fluid {
    background-color: #fff;
    padding: 30px;
}

.Newsletter {
    padding: 80px 20px;
}

.Newsletter .CmsBlock-Wrapper h2 {
    margin-top: calc(var(--gutter) / 2);
    margin-left: auto;
    max-width: 350px;
    margin: 10px 0px 20px 50px;
    text-align: right;
    line-height: 48px;
    font-size: 38.4px;
    font-weight: 700;
    color: var(--text-color);
}

.Newsletter p+p {
    margin-top: 15px;
}

.ProductPrice-InnerWrapper span {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
}

.ProductCard-DeliveryPrice .ProductCard-Link {
    display: none;
}

.ProductCard-DeliveryPrice a {
    text-underline-offset: 5px !important;
    -webkit-text-decoration-color: #bebcba !important;
    text-decoration-color: #bebcba !important;
    text-decoration: underline !important;
}

.ProductPrice-InnerWrapper_isVisible .line-through {
    font-size: 12px !important;
}


:root {
    --primary-error-color: #ff0000;
    --primary-success-color: #008000;
    --field-note: #000000;
    --input-border-color: #000000;
    --checkmark-color: #000000;
    --box-color: #ffffff;
}

.Field {
    margin-top: 1.2rem;
}

@media (max-width: 768px) {
    .Field {
        margin-top: 1.4rem;
    }
}

.Field-Label {
    font-weight: 700;
    padding-bottom: 0.36rem;
}

@media (max-width: 768px) {
    .Field-Label {
        padding-bottom: 0.42rem;
    }
}

.Field-Message {
    margin-bottom: -0.1em;
    font-size: 1.26rem;
    font-weight: 600;
    color: var(--primary-error-color);
}

@media (max-width: 768px) {
    .Field-Message {
        font-size: 1.47rem;
    }
}

.Field-Note {
    margin-bottom: 0.24rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--field-note);
    opacity: 0;
    height: 0;
    transition: height 0.1s ease-in, opacity 0.1s linear;
    will-change: height, opacity;
}

@media (max-width: 768px) {
    .Field-Note {
        margin-bottom: 0.28rem;
        font-size: 1.4rem;
    }
}

.Field-Note::before {
    content: '* ';
}

.Field_isValid input,
.Field_isValid textarea {
    border: 1px solid var(--primary-success-color);
}

.Field_hasError input,
.Field_hasError textarea {
    border: 1px solid var(--primary-error-color);
}

.Field::placeholder {
    color: var(--field-note);
    font-size: 1.08rem;
}

@media (max-width: 768px) {
    .Field::placeholder {
        font-size: 1.26rem;
    }
}

.Field input:focus+.Field-Note {
    opacity: 1;
    height: 100%;
}

/* Inline styling */
.Field_style_inline {
    display: flex;
    margin: 0;
}

.Field_style_inline button {
    position: relative;
    width: 20px;
    height: 20px;
    border: solid 1px #000;
}

@media (min-width: 769px) {
    .Field_style_inline button {
        width: 28px;
        height: 28px;
    }
}

.Field_style_inline input {
    height: 20px;
    min-height: 20px;
    width: 35px;
    min-width: 35px;
    border: none;
    padding: 0;
    text-align: center;
}

@media (max-width: 768px) {
    .Field_style_inline input {
        font-size: 1.4rem;
    }
}

@media (min-width: 769px) {
    .Field_style_inline input {
        height: 28px;
        min-height: 28px;
        width: 35px;
        min-width: 35px;
    }
}

.Field input[type='checkbox'],
.Field input[type='radio'] {
    position: absolute;
    opacity: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
}

.Field input[type='checkbox']+.input-control {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 0;
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--box-color);
    border: 1px solid var(--input-border-color);
    transition: background-color 0.25s ease-in, border-color 0.25s ease-in;
    will-change: background-color, border-color;
}

.Field input[type='checkbox']+.input-control::after {
    content: '';
    position: absolute;
    background: var(--checkmark-color);
    transition: background-color 0.25s ease-in;
}

@media (max-width: 768px) {
    .Field input[type='checkbox']+.input-control {
        width: 2.1rem;
        height: 2.1rem;
    }
}